/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();

/*///////////////////////////////////////////////////////////////////////////*/
@import "fonts";
@import "base";
@import "helpers";
@import "print";

/*///////////////////////////////////////////////////////////////////////////*/
@import "CSS:../js/libs/vendor/bootstrap/dist/css/bootstrap.min";

/*///////////////////////////////////////////////////////////////////////////*/
/* CUSTOM STYLES */
/*///////////////////////////////////////////////////////////////////////////*/

html,body {
    font-family:$normalFont;
    height:100%;
}

.main-view-container {
    position:relative;
}

.main-view {
    position:relative;
    margin-top:70px;
}

.main-view.ng-enter, .main-view.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    display:block;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.main-view.ng-enter {
    left:100%;
    opacity: 0;
}
.main-view.ng-enter.ng-enter-active {
    left:0;
    opacity: 1;
}
.main-view.ng-leave.ng-leave-active {
    left:-100%;
    opacity: 0;
}